<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <style>
        body {
            background-color: #222222;
            color: #fff;
            font-family: Verdana, sans-serif;
        }

        a {
            color: #b4c7d9;
            text-decoration: none;
        }

        a:hover {
            color: #e9f2fa;
        }
    </style>
</head>

<body>
    <h1>{{ title }}</h1>
    <p>{{{ message }}}</p>
</body>

</html>
